<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "Shiida Tetsuro" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Shiida Tetsuro">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:title" content="<%= content_for(:title) || 'Shiida Tetsuro' %>">
    <meta property="og:description" content="福岡在住のエンジニアです。Ruby on Rails を中心に Web 開発を行っています。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:image" content="<%= request.base_url + asset_path('profile-illustration.png') %>">
    <meta name="twitter:card" content="summary">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path 'profile-illustration.png' %>" type="image/png">
    <link rel="apple-touch-icon" href="<%= asset_path 'profile-illustration.png' %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
